<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>PersonaTeams: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<h1><%= link_to(image_tag('logo_personalist.jpg', {:alt => 'Home', :border=>0}), :class => 'index') %></h1>

<% for account in @account %>
<%=h account.name %> | <%= link_to 'Logout', logout_path, :class => 'logout' %>
    <% end %>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
