<h1>New industry type</h1>

<% form_for(@industry_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :industry_type_name %><br />
    <%= f.text_field :industry_type_name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', industry_types_path %>
